intermine/webapp/main/resources/webapp/WEB-INF/webconfig-model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsq="http://intermine.org/query/1.0">
    <xsd:annotation>
        <xsd:documentation>
            The schema configures what elements can appear in webconfig-model.xml 
        </xsd:documentation>
    </xsd:annotation>

    <xsd:import namespace="http://intermine.org/query/1.0" schemaLocation="../webservice/query.xsd"/>

    <xsd:element name="webconfig" type="webConfigType"></xsd:element>

    <xsd:complexType name="webConfigType">
        <xsd:sequence>
            <xsd:element name="class" type="classType" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="tableExportConfig" type="tableExportConfigType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="reportdisplayers" type="reportDisplayersType" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="widgets" type="widgetsType" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="reportwidgets" type="reportWidgetsType" minOccurs="0" maxOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="classType">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="headerconfig" type="headerConfigType"></xsd:element>
            <xsd:element name="inlinelist" type="inLineListType"></xsd:element>
            <xsd:element name="fields" type="fieldsType"></xsd:element>
            <xsd:element name="tabledisplayer" type="tableDisplayerType"></xsd:element>
            <xsd:element name="bagdisplayers" type="bagDisplayersType"></xsd:element>
            <xsd:element name="longdisplayers" type="longDisplayersType"></xsd:element>
        </xsd:choice>
        <xsd:attribute name="className" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="fieldName" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="label" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="headerConfigType">
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
            <xsd:element name="titles" type="titlesType"></xsd:element>
            <xsd:element name="customlinks" type="customLinksType"></xsd:element>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="titlesType">
        <xsd:sequence>
            <xsd:element name="title" type="titleType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="titleType">
        <xsd:attribute name="mainTitles" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="subTitles" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="numberOfMainTitlesToShow" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="fieldsType">
        <xsd:sequence>
            <xsd:element name="fieldconfig" type="fieldConfigType" minOccurs="1" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="fieldConfigType">
        <xsd:attribute name="fieldExpr" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="displayer" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="escapeXml" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="hide" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="showInSummary" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="outerInSummary" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="showInInlineCollection" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="showInListAnalysisPreviewTable" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="showInResults" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="showInQB" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="label" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="doNotTruncate" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="fieldExporter" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="sectionOnRight" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="sectionTitle" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="openByDefault" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="tableDisplayerType">
        <xsd:attribute name="src" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="bagDisplayersType">
        <xsd:sequence>
            <xsd:element name="displayer" type="bagDisplayerType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="bagDisplayerType">
        <xsd:attribute name="src" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="showOnLeft" type="xsd:boolean"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="longDisplayersType">
        <xsd:sequence>
            <xsd:element name="displayer" type="displayerType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="displayerType">
        <xsd:attribute name="src" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="aspects" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="tableExportConfigType">
        <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="actionPath" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="className" type="xsd:string"></xsd:attribute>
    </xsd:complexType>


    <xsd:complexType name="widgetsType">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="graphdisplayer" type="graphWidgetType" ></xsd:element>
            <xsd:element name="enrichmentwidgetdisplayer" type="enrichmentWidgetType"></xsd:element>
            <xsd:element name="bagtabledisplayer" type="bagTableWidgetType"></xsd:element>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="widgetType">
        <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="title" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="description" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="filterLabel" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="filters" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="typeClass" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="constraints" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="views" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="graphWidgetType">
        <xsd:complexContent>
            <xsd:extension base="widgetType">
                <xsd:attribute name="startClass" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="domainLabel" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="rangeLabel" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="graphType" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="extraAttributeClass" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="listPath" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="categoryPath" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="seriesPath" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="seriesValues" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="seriesLabels" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="enrichmentWidgetType">
        <xsd:complexContent>
            <xsd:extension base="widgetType">
                <xsd:attribute name="startClass" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="label" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="externalLink" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="startClassDisplay" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="enrich" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="enrichIdentifier" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="constraintsForView" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="correctionCoefficient" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="bagTableWidgetType">
        <xsd:complexContent>
            <xsd:extension base="widgetType">
                <xsd:attribute name="link" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="style" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="pathStrings" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="displayFields" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="exportField" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="columnTitle" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="customLinksType">
        <xsd:sequence>
            <xsd:element name="customlink" type="customLinkType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="customLinkType">
        <xsd:attribute name="url" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="image" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="inLineListType">
        <xsd:sequence>
            <xsd:element name="table" type="inLineTableType" minOccurs="1" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="inLineTableType">
        <xsd:attribute name="path" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="showLinksToObjects" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="showInHeader" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="lineLength" type="xsd:int"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="reportDisplayersType">
        <xsd:sequence>
            <xsd:element name="reportdisplayer" type="reportDisplayerType" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="reportDisplayerType">
        <xsd:attribute name="javaClass" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="jspName" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="replacesFields" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="showImmediately" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="placement" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="types" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="parameters" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="reportWidgetsType">
        <xsd:sequence>
            <xsd:element name="reportwidget" type="reportWidgetType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="reportWidgetType">
	  	<xsd:sequence>
	        <xsd:element name="dependency" maxOccurs="unbounded" minOccurs="0">
	          <xsd:complexType>
	            <xsd:simpleContent>
	              <xsd:extension base="xsd:string">
	                <xsd:attribute type="xsd:string" name="name" use="optional"/>
	                <xsd:attribute type="xsd:anyURI" name="path"/>
	                <xsd:attribute type="xsd:string" name="type"/>
	                <xsd:attribute type="xsd:string" name="wait" use="optional"/>
	              </xsd:extension>
	            </xsd:simpleContent>
	          </xsd:complexType>
	        </xsd:element>
	
	        <xsd:element name="keyValue" maxOccurs="unbounded" minOccurs="0">
	          <xsd:complexType>
	            <xsd:simpleContent>
	              <xsd:extension base="xsd:string">
	                <xsd:attribute type="xsd:string" name="key"/>
	                <xsd:attribute type="xsd:string" name="value"/>
	              </xsd:extension>
	            </xsd:simpleContent>
	          </xsd:complexType>
	        </xsd:element>
	
	        <xsd:element name="query" type="xsq:query" maxOccurs="unbounded" minOccurs="0"></xsd:element>
		</xsd:sequence>
		
		<xsd:attribute type="xsd:string" name="id"/>
		<xsd:attribute type="xsd:string" name="author"/>
		<xsd:attribute type="xsd:string" name="title"/>
		<xsd:attribute type="xsd:string" name="description"/>
		<xsd:attribute type="xsd:string" name="version"/>
    </xsd:complexType>
</xsd:schema>
