flymine/integrate/match_complete.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!ELEMENT interpromatch (release, protein+)>
<!ELEMENT release (dbinfo)+>
<!ELEMENT dbinfo EMPTY>
<!ATTLIST dbinfo
	dbname NMTOKEN #REQUIRED
	version CDATA #IMPLIED
	entry_count CDATA #IMPLIED
	file_date CDATA #IMPLIED
>
<!ELEMENT ipr EMPTY>
<!ATTLIST ipr
	id CDATA #REQUIRED
	name CDATA #REQUIRED
	type CDATA #REQUIRED
	parent_id CDATA #IMPLIED
>
<!ELEMENT lcn EMPTY>
<!ATTLIST lcn
	start CDATA #REQUIRED
	end CDATA #REQUIRED
	score CDATA #REQUIRED
>
<!ELEMENT match (ipr?, lcn+)>
<!ATTLIST match
	id CDATA #REQUIRED
	name CDATA #REQUIRED
	dbname CDATA #REQUIRED
	status CDATA #REQUIRED
	evd CDATA #REQUIRED
>
<!ELEMENT protein (match*)>
<!ATTLIST protein
	id CDATA #REQUIRED
	name CDATA #REQUIRED
	length CDATA #REQUIRED
	crc64 CDATA #REQUIRED
>
