flymine/model/protein_structure/protein_structure.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="protein_structure">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fragment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="modelled_region">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="uniprot_id" type="xs:string" />
                    <xs:element name="begin" type="xs:integer" />
                    <xs:element name="end" type="xs:integer" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sequence_family">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="pfam_id" type="xs:string" />
                    <xs:element name="evidence" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="structural_family">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="evidence" type="xs:string" />
                    <xs:element name="homstrad_id" type="xs:string" />
                    <xs:element name="fugue_z_score" type="xs:decimal" />
                    <xs:element minOccurs="0" name="pid" type="xs:integer" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="alignment_file">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="format" type="xs:string" use="required" />
                            <xs:attribute name="type" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="rank" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="model">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="atomic_coordinate_file" type="xs:string" />
                    <xs:element name="template_hit" type="xs:string" />
                    <xs:element name="template_structure_file" type="xs:string" />
                    <xs:element maxOccurs="unbounded" name="alignment_file">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="format" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="method" type="xs:string" />
                    <xs:element name="prosa_z_score" type="xs:decimal" />
                    <xs:element name="prosa_q_score" type="xs:decimal" />
                    <xs:element name="kinemage_file" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>