wormmine/support/acedb-dev/XML/Proteins.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Mon Feb 20 2017 17:07:30 GMT-0700 (MST) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Proteins">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Protein" maxOccurs="unbounded" type="xs:string">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Peptide">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Peptide" type="xs:string">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Int" type="xs:int">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Int" type="xs:int"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="DB_info">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Database">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Database" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Database_field" type="xs:string">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Text" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Gene_name">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Text" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Molecular_weight">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Float" type="xs:double">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Inferred_automatically">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Txt" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Origin">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Species">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Species" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Wormpep"></xs:element>
                                                               <xs:element name="History">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Int" type="xs:int">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Txt" type="xs:string">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Text" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Live"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Visible">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Corresponding_CDS">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="CDS" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Homol">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Pep_homol">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Protein" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Method" type="xs:string">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Float" type="xs:int">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="Int" type="xs:int">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                         <xs:element name="Int" type="xs:int">
                                                                                                                                                               <xs:complexType>
                                                                                                                                                                     <xs:sequence>
                                                                                                                                                                           <xs:element name="Int" type="xs:int">
                                                                                                                                                                                 <xs:complexType>
                                                                                                                                                                                       <xs:sequence>
                                                                                                                                                                                             <xs:element name="Int" type="xs:int"></xs:element>
                                                                                                                                                                                       </xs:sequence>
                                                                                                                                                                                 </xs:complexType>
                                                                                                                                                                           </xs:element>
                                                                                                                                                                     </xs:sequence>
                                                                                                                                                               </xs:complexType>
                                                                                                                                                         </xs:element>
                                                                                                                                                   </xs:sequence>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Motif_homol">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Motif" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Method" type="xs:string">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Float" type="xs:double">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="Int" maxOccurs="unbounded" type="xs:int">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                         <xs:element name="Int" type="xs:int">
                                                                                                                                                               <xs:complexType>
                                                                                                                                                                     <xs:sequence>
                                                                                                                                                                           <xs:element name="Int" type="xs:int">
                                                                                                                                                                                 <xs:complexType>
                                                                                                                                                                                       <xs:sequence>
                                                                                                                                                                                             <xs:element name="Int" type="xs:int"></xs:element>
                                                                                                                                                                                       </xs:sequence>
                                                                                                                                                                                 </xs:complexType>
                                                                                                                                                                           </xs:element>
                                                                                                                                                                     </xs:sequence>
                                                                                                                                                               </xs:complexType>
                                                                                                                                                         </xs:element>
                                                                                                                                                   </xs:sequence>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Homol_homol">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Homol_data" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Feature">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Method" maxOccurs="unbounded" type="xs:string">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Int" type="xs:int">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Int" type="xs:int">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Float" type="xs:int"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Contains_peptide">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Mass_spec_peptide" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>