wormmine/support/acedb-dev/XML/RNAis.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Mon Feb 20 2017 21:17:34 GMT-0700 (MST) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="RNAis">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="RNAi" maxOccurs="unbounded" type="xs:string">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="History_name">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Text" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Homol">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Homol_homol">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Homol_data" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Sequence_info">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="PCR_product">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="PCR_product" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Uniquely_mapped"></xs:element>
                                             <xs:element name="Experiment">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Laboratory">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Laboratory" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Date">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Date" type="xs:date"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Inhibits">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Predicted_gene">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="CDS" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Inferred_automatically">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Txt" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Gene">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Gene" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Inferred_automatically">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Txt" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Transcript">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Transcript" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Inferred_automatically">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Txt" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Species">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Species" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Reference">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Paper" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Phenotype_not_observed">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Phenotype" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Method">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Method" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>