wormmine/support/XML_info/CDSs.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Mon Feb 20 2017 16:54:16 GMT-0700 (MST) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="CDSs">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="CDS" maxOccurs="unbounded" type="xs:string">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Evidence">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Inferred_automatically">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Txt" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="SMap">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="S_parent">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Sequence">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Sequence" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Structure">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Source_exons">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Int" maxOccurs="unbounded" type="xs:int">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Int" type="xs:int"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="DB_info">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Database">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Database" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Database_field" type="xs:string">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Text" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Protein_id">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Sequence" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Txt" type="xs:string">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Int" type="xs:int"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="DB_remark">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Text" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Origin">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="From_laboratory">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Laboratory" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Species">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Species" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Properties">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Coding">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="CDS"></xs:element>
                                                                                 <xs:element name="Prediction_status">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Confirmed"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Isoform">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Accession_evidence">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Database" type="xs:string">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Text" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Visible">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Gene">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Gene" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Corresponding_transcript">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Transcript" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Corresponding_protein">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Protein" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Corresponding_PCR_product">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="PCR_product" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Corresponding_oligo_set">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Oligo_set" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Matching_cDNA">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Sequence" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Inferred_automatically">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Txt" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="RNAi_result">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="RNAi" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Variation">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Variation" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Microarray_results">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Microarray_results" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Brief_identification">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Text" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Accession_evidence">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Database" type="xs:string">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="Text" type="xs:string"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="RNASeq_FPKM">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Life_stage" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Float" maxOccurs="unbounded" type="xs:double">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="From_analysis">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="Analysis" type="xs:string"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Last_reviewed">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Date" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Person" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Remark">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Text" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Remark">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Text" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Associated_feature">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Feature" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Method">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Method" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>