wormmine/support/XML_info/Life_stages.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Mon Feb 20 2017 17:05:02 GMT-0700 (MST) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Life_stages">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Life_stage" maxOccurs="unbounded" type="xs:string">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Contains">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Cell_group">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Cell_group" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Anatomy_term">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Anatomy_term" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Sub_stage">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Life_stage" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Contained_in">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Life_stage" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Preceded_by">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Life_stage" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Followed_by">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Life_stage" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Expr_pattern">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Expr_pattern" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="WBProcess">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="WBProcess" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Picture">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Picture" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Definition">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Text" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Public_name">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Text" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Reference">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Paper" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>