wormmine/support/XML_info/Phenotypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Mon Feb 20 2017 17:06:47 GMT-0700 (MST) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Phenotypes">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Phenotype" maxOccurs="unbounded" type="xs:string">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Description">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Text" type="xs:string">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Curator_confirmed">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Person" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Name">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Primary_name">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Phenotype_name" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Related_phenotypes">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Specialisation_of">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Phenotype" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Generalisation_of">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Phenotype" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Attribute_of">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="RNAi">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="RNAi" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Variation">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Variation" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Interaction">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Interaction" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Strain">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Strain" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Associated_with">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="WBProcess">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="WBProcess" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>