wormmine/support/XML_info/Variations.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Mon Feb 20 2017 21:19:57 GMT-0700 (MST) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Variations">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Variation" maxOccurs="unbounded" type="xs:string">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Evidence">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Paper_evidence">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Paper" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Name">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Public_name">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Variation_name" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Other_name">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Variation_name" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Sequence_details">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="SMap">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="S_parent">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Sequence">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Sequence" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Flanking_sequences">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Txt" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Txt" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Mapping_target">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Sequence" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Type_of_mutation">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Substitution">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Txt" type="xs:string">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Txt" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="SeqStatus">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Sequenced"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Variation_type">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="SNP"></xs:element>
                                                               <xs:element name="Predicted_SNP"></xs:element>
                                                               <xs:element name="Natural_variant"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Origin">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Species">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Species" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Strain">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Strain" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="From_analysis">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Analysis" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Laboratory">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Laboratory" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Person">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Person" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Analysis">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Analysis" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="History">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Acquires_merge">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Variation" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Status">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Live"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Affects">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Gene">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Gene" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Transcript">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Transcript" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="UTR_3">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Inferred_automatically">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="Txt" type="xs:string"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Reference">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Paper" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Method">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Method" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>